<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<section id="wrap">
  <div class="container">
    <h1>Login</h1>
    <%= form_tag sessions_path, method: :post do %>
      <div class="field">
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div></br>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div></br>
      <div class="actions">
        <%= submit_tag "Log In", class: "btn btn-primary" %>
      </div>
    <% end %></br>
  </div>
</section>
