
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <!-- TODO style error messages -->
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :username, class:"form-label" %><br>
    <%= f.text_field :username %>
    </br>
    <%= f.label :email, class:"form-label" %><br>
    <%= f.text_field :email %>
    </br>
    <%= f.label :first_name, class:"form-label" %><br>
    <%= f.text_field :first_name %>
    </br>
    <%= f.label :last_name, class:"form-label" %><br>
    <%= f.text_field :last_name %>
    </br>
    <%= f.label :birthday, class:"form-label" %><br>
    <%= f.text_field :birthday %>
    </br>
    <%= f.label :city, class:"form-label" %><br>
    <%= f.text_field :city %>
    </br>
    <%= f.label :state, class:"form-label" %><br>
    <%= f.text_field :state %>
    </br>
    <%= f.label :password, class:"form-label" %><br>
    <%= f.password_field :password %>
    </br>
    <%= f.label :password_confirmation, class:"form-label" %><br>
    <%= f.password_field :password_confirmation %>
    </br>
    <%= f.submit "SIGN UP", class: "btn-form submit" %>
    </br>
<% end %>
