<div class="users">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error-explanation" class="center">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "center form-field" %>
    <br>
    <br>
    <%= f.label :email %><br>
    <%= f.text_field :email, class: " center form-field" %>
    <br>
    <br>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "center form-field" %>
    <br>
    <br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: " center form-field" %>
    <br>
    <br>
    <%= f.label :birthday %><br>
    <% if @user.birthday == nil %>
      <%= f.text_field :birthday, placeholder: "mm/dd/yyyy",  class: "center form-field" %>
    <% else %>
      <%= f.text_field :birthday, :value => @user.birthday.strftime("%m/%d/%Y"),  class: "center form-field" %>
    <% end %>
    <br>
    <br>
    <%= f.label :set_password %><br>
    <%= f.password_field :password, class: "center form-field" %>
    <br>
    <br>
    <%= f.label :confirm_password %><br>
    <%= f.password_field :password_confirmation, class: "center form-field" %>
    <br>
    <br>
    <% if logged_in? %>
      <div class="actions">
        <%= link_to "CANCEL", user_path(@user), class: "btn-form submit" %>
        <%= f.submit "SUBMIT", class: "btn-form submit" %>
      </div>
    <% else %>
      <div class="actions">
        <%= f.submit "SUBMIT", class: "btn-form submit" %>
      </div>
    <% end %>
    <br>
    <br>
  <% end %>
</div>
