<!-- <h5>Users#Show - Item Partial Template</h5>
<p>Find me in app/views/users/_item.html.erb</p> -->

<section id="wrap">
  <div id="main" class="container">
    <div class="row list-view">
      <div class="col-xs-12 center">
        <h1 class="list-h1">My Wish List</h1>
      </div>
    </div>
    <!-- Summary. -->
    <div class="row summary">
      <div class="col-xs-12 center">
        <div>
          <!-- Loop through and sum each item cost. Count items. -->
           <% totCost = 0  %>
           <% user_items.each do |item| %>
           <% totCost += item.cost %>
           <% end %>
           <% totNum = 0  %>
           <% totNum = user_items.count  %>
          <div>There are <span class="emphasis"><%= " #{totNum} " %></span> items on your Wish List. The total cost of your Wish List is <span class=emphasis><%= "$#{totCost}" %></span>. </div>
        </div>
      </div>
    </div>
    <!-- Add item and search items. -->
    <div class="row list-actions">
      <div class="col-xs-4 center">
        <span>ADD ITEM&nbsp;<%= link_to image_tag("new.png"), new_user_item_path(@user), class: "items-nved" %> </span>
      </div>
      <div class="col-xs-4 center">
        <%= link_to "HOME ★彡", root_url, class: "home" %>
      </div>

      <div class="col-xs-4 center">
        <span class="search-container">
           <%= form_tag user_items_path(@user, @item), :method => 'get' do %>
             SEARCH <%= text_field_tag :search, params[:search], :placeholder => "  e.g. Fitbit", class: "search-field" %>
             <% submit_tag "SEARCH" %>
           <% end %>
         </span>
      </div>
    </div>
    <!-- Items table. -->
    <div class="table-responsive center">
      <table class="table">
        <thead>
          <tr class="table-row">
            <th>ENTRY&nbsp;DATE</th>
            <th>ITEM</th>
            <th>CATEGORY</th>
            <th>COST</th>
            <th>SELLER</th>
            <th>NOTES</th>
            <th>VIEW</th>
            <th>EDIT</th>
            <th>REMOVE</th>
          </tr>
        </thead>
        <tbody>
          <% user_items.each do |item| %>
          <tr>
            <td><%= item.created_at.strftime("%b %-d, %Y") %></td>
            <td><%= item.title %></td>
            <td><%= item.category %></td>
            <td>$<%= item.cost %></td>
            <td><%= item.seller %></td>
            <td><%= item.note %></td>
            <td class="items-ved"><%= link_to image_tag("list.png"), user_item_path(@user, item.id), :class => "entry-icons" %></td>
            <td class="items-ved"><%= link_to image_tag("edit.png"), edit_user_item_path(@user, item.id), :class => "entry-icons" %></td>
            <td class="items-ved"><%= link_to image_tag("trash.png"), user_item_path(@user, item.id), :class => "entry-icons",  method: :delete, data: {confirm: "Are you sure?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div><!-- end container -->
</section>
