<section id="wrap">
  <div class="jumbotron">
    <h1 class="center">Wish List</h1>
    <% if logged_in? %>
    <div class="row">
    <% @user = current_user %>
      <div class="col-xs-12 center">
        <div class="center">Hello <%= @user.username %>!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 center">
        <%= link_to "My List", user_path(@user), class: "btn btn-primary" %>
      </div>
      <div class="col-xs-6 center">
        <%= link_to "Search", users_path,  class: "btn btn-primary" %>
      </div>
    </div>
    <% else %>
    <div class="info-wrapper">
      <div class="row info center">
        <h3>Wish List is a fun and easy way to manage gift giving for any occasion!</h3>
      </div>
      <div class="row info">
        <div class="col-xs-4 center ">
          <%= image_tag("manage.png") %>
          <p>Create lists, track anything you want, and share the things you love with friends and loved ones.</p>
        </div>
        <div class="col-xs-4 center divider">
          <%= image_tag("money.png") %>
          <p>Manage your spending and save more. Wish List conveniently counts and totals everything you input. </p>
        </div>
        <div class="col-xs-4 center divider">
          <%= image_tag("share.png") %>
          <p>Make the gift giving process easier by sharing your list with friends and finding friends on Wish List.</p>
        </div>
      </div>
    </div><!-- end info wrapper -->
    <div class="row btn-navigate">
      <div class="col-xs-6 center">
        <%= link_to "Log In", new_session_path,  class: "btn btn-primary" %>
      </div>
      <div class="col-xs-6 center">
        <%= link_to "Sign Up", new_user_path,  class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</section>
