<section id="wrap"><br><br>
  <div class="container users center">
    <h1 class="center title">Now Viewing:  <%= @item.title %></h1><br>
    <p>DATE: <%= @item.created_at.strftime("%B %-d, %Y") %><br><br>
    <p>COST: <%= "$#{@item.cost}"%></p><br>
    <p>SELLER: <%= @item.seller %></p><br>
    <p>CATEGORY: <%= @item.category %></p><br>
    <p>NOTES: <%= @item.note %><br><br>
    <p>LINK: <%= @item.link %><br><br>
    <div class="row center">
      <div class="col-xs-12">
        <%= link_to "BACK ★彡", user_path(@user), class: "btn-form submit" %>
      </div>
    </div><br>
  </div>
</section>
